<ion-header>
  <ion-toolbar>
    <ion-title>Rover Detail</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding color="light">

  <div [ngClass]="{'image-box-rover': carBg === 'ROVER'}">
<!--    <div class="navi">-->
<!--      <div id="map" style="border-radius:10px;"></div>-->
<!--    </div>-->
<!--    <div class="window" [style.visibility]="streetName ==''? 'hidden': 'visible'">-->
<!--      <div id="pano"></div>-->
<!--    </div>-->
    <div class="instruments" *ngIf="showHUD">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list style="border: 1px solid #000; border-radius: 5px;">
            <ion-item>Car ID: <span class="metricDisplayGrey"> {{ carMetric.driverId }} </span></ion-item>
            <ion-item>VIN: <span class="metricDisplayGrey"> {{ carMetric.vin }} </span></ion-item>
            <ion-item>Manufacturer:
              <span class="metricDisplayGrey" *ngIf="carBg==='ROVER'"> RHSA </span>
            </ion-item>
            <ion-item> Model:
              <span class="metricDisplayGrey" *ngIf="carBg==='ROVER'"> 2022 V01 </span>
            </ion-item>
            <ion-item> RoverZone: <span class="metricDisplayGrey"> {{carMetric.zone}} </span></ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list style="border: 1px solid #000; border-radius: 5px;">
          <ion-item> Speed: <span class="metricDisplayGreen"> {{ carMetric.speed | number: '1.2-2' }} </span></ion-item>
          <ion-item *ngIf="carBg ==='ROVER'"> RPM: <span class="metricDisplayGreen"> {{ carMetric.rpm | number: '1.2-2' }} </span></ion-item>
          <ion-item *ngIf="carBg ==='ROVER'"> l/100km: <span class="metricDisplayGreen"> {{ carMetric.fuel | number: '1.2-2' }} </span></ion-item>
          <ion-item *ngIf="carBg ==='ROVER'"> CO2: <span class="metricDisplayGreen"> {{ carMetric.co2 }} </span></ion-item>
          <ion-item> Gear:
            <span class="metricDisplayGreen" *ngIf="carBg ==='ROVER'"> {{ carMetric.gear }} </span>
          </ion-item>
        </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div >

    <div [ngClass]="{'menu-rover': carBg === 'ROVER'}">
      <ion-button  (click)="toggleHUD()">
        HUD
      </ion-button>
      <ion-button (click)="showConfig()">
        ENGINE
      </ion-button>
    </div>
    <!--<div id="chartdiv" style="width: 20%; height: 200px; top: 17%; left: 32%; position: absolute;"></div>-->
 </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-buttons slot="end">
    <ion-button size="small" (click)="carBg='ROVER'">Rover</ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>